<div class="form-group">

</div>
<div class='row'>
    <div class="panel panel-default">
        <div class='panel-heading'>Error Log</div>
        <div class='panel-body'>

            <div>
                <input type='text' #filtertextbox style='padding:8px;margin:15px auto;width:30%;' placeholder='Type to filter the name column...'
                />
                <button (click)="updateFilter(filtertextbox.value)">filter</button>
                <ngx-datatable class="material" [rows]="filteredItems" [limit]="20" (page)='setPage($event)' [columnMode]="'force'" [headerHeight]="50"
                    [footerHeight]="50" [rowHeight]="'auto'">
                    <ngx-datatable-column name="username" [sortable]="false">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div *ngIf="value  != '' && value != null">{{value}}</div>
                            <div *ngIf="value  == ''||value == null">
                                <strong>--</strong>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="errorCode" [sortable]="false">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div *ngIf="value  != '' && value != null">{{value}}</div>
                            <div *ngIf="value  == ''||value == null">
                                <strong>--</strong>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="timeStamp" [sortable]="false">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div *ngIf="value  != '' && value != null">{{value}}</div>
                            <div *ngIf="value  == ''||value == null">
                                <strong>--</strong>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name=" errorDesc" [sortable]="false">
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <div *ngIf="value  != '' && value != null">{{value}}</div>
                            <div *ngIf="value  == ''||value == null">
                                <strong>--</strong>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="errorDetailedDesc" [sortable]="false">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <div (click)="errorclickevent(row)">view detail</div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
                <button *ngIf="pageNumber > 1" (click)="prvpageclick()">Previous</button>
                <button (click)="nextpageclick()">Next</button>
            </div>

        </div>
    </div>
    <app-dialog [(visible)]="showDialog">
        <div class='panel panel-primary'>
            <div class='panel-heading' style='font-size:large'>
                Error Details
            </div>
            <div class='panel-body container-fluid'>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="coveredEntityId" class="col-4 col-form-label">_id</label>
                            <p>{{(errorlogdetails._id != ''&& errorlogdetails._id != null)?errorlogdetails._id : '--'}}</p>
                        </div>
                        <div class="form-group row">
                            <label for="coveredEntityId" class="col-4 col-form-label">encryptedTaxId</label>
                            <p>{{(errorlogdetails.encryptedTaxId != ''&& errorlogdetails.encryptedTaxId != null)?errorlogdetails.encryptedTaxId
                                : '--'}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="coveredEntityId" class="col-4 col-form-label">firstName</label>
                            <p>{{(errorlogdetails.firstName != ''&& errorlogdetails.firstName != null)?errorlogdetails.firstName
                                : '--'}}</p>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label">lastName</label>
                            <p>{{(errorlogdetails.lastName != ''&& errorlogdetails.lastName != null)?errorlogdetails.lastName
                                : '--'}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="coveredEntityId" class="col-4 col-form-label">username</label>
                            <p>{{(errorlogdetails.username != ''&& errorlogdetails.username != null)?errorlogdetails.username
                                : '--'}}</p>
                        </div>
                        <div class="form-group row">
                            <label for="coveredEntityId" class="col-4 col-form-label">emailAddress</label>
                            <p>{{(errorlogdetails.emailAddress != ''&& errorlogdetails.emailAddress != null)?errorlogdetails.emailAddress
                                : '--'}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="coveredEntityId" class="col-4 col-form-label">phoneNumber</label>
                            <p>{{(errorlogdetails.phoneNumber != ''&& errorlogdetails.phoneNumber != null)?errorlogdetails.phoneNumber
                                : '--'}}</p>
                        </div>
                        <div class="form-group row">
                            <label for="coveredEntityId" class="col-4 col-form-label">timeStamp</label>
                            <p>{{(errorlogdetails.timeStamp != ''&& errorlogdetails.timeStamp != null)?errorlogdetails.timeStamp
                                : '--'}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="coveredEntityId" class="col-4 col-form-label">errorCode</label>
                            <p>{{(errorlogdetails.errorCode != ''&& errorlogdetails.errorCode != null)?errorlogdetails.errorCode
                                : '--'}}</p>
                        </div>
                        <div class="form-group row">
                            <label for="coveredEntityId" class="col-4 col-form-label">errorDesc</label>
                            <p>{{(errorlogdetails.errorDesc != ''&& errorlogdetails.errorDesc != null)?errorlogdetails.errorDesc
                                : '--'}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="coveredEntityId" class="col-4 col-form-label">errorDetailedDesc</label>
                            <p>{{(errorlogdetails.errorDetailedDesc != ''&& errorlogdetails.errorDetailedDesc != null)?errorlogdetails.errorDetailedDesc
                                : '--'}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-dialog>