<div class="ant-footer">
  <div class="mbr-bottom-of-page ant-lt-blue">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-xs-12 clearfix">
          <div class="ant-block-wrapper first">
            <ul id="footer-block-1" class="panel-collapse collapse in ant-footer-link-list" role="tabpanel" aria-labelledby="footer-block-heading-1">
              <li>
                <a href="/" id="" target="">About</a>
              </li>
              <li>
                <a href="/" id="" target="">Blog</a>
              </li>
              <li>
                <a href="/" id="" target="">Privacy</a>
              </li>
              <li>
                <a href="/" id="" target="">Legal</a>
              </li>
              <li>
                <a href="/" id="" target="">Sitemap</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-sm-4 col-xs-12 clearfix">
          <div class="ant-block-wrapper ">
            <ul id="footer-block-2" class="panel-collapse collapse in ant-footer-link-list" role="tabpanel" aria-labelledby="footer-block-heading-2">
              <li>
                <a href="/" id="" target="_blank">Content 1</a>
              </li>
              <li>
                <a href="/" id="" target="_blank">Content 2</a>
              </li>
              <li>
                <a href="/" id="" target="">Content 3</a>
              </li>
              <li>
                <a href="/" id="" target="_blank">Content 4</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12 ant-center-block-wide"></div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="ant-social">
          <a href="http://www.facebook.com/AskAnthem" aria-label="Facebook" id="bottomofpage-1439335944029" target="_blank">
            <span class="fa fa-facebook"></span>
          </a>
          <a href="https://www.twitter.com/AskAnthem" aria-label="Twitter" id="bottomofpage-1439341427359" target="_blank">
            <span class="fa fa-twitter"></span>
          </a>
          <a href="https://www.youtube.com/c/AskAnthem" aria-label="YouTube" id="bottomofpage-1439341439382" target="_blank">
            <span class="fa fa-youtube"></span>
          </a>
          <div id="bottom-mobile-app-link-id" class="ant-app-promo media">
            <div class="media-left">
              <a data-cns-mobile-app-link-dir="" class="ant-app-icon" href="https://www.anthem.com/ca/video_player/player.html?bctid=5042090896001"
                tabindex="-1" target="_blank">
                <img alt="Mobile App Logo" class="media-object" src="./app/uxAssets/images/V7_ABC.png"> </a>
            </div>
            <div class="media-body">
              <a data-cns-mobile-app-link-dir="" class="ant-app-link" href="https://www.anthem.com/ca/video_player/player.html?bctid=5042090896001"
                target="_blank">
                <span class="ant-body-lg">Use the App</span>
                <span class="ant-body-sm">Let's make healthy happen</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-xs-12">
        <div class="ant-copyright">
          <div>
            <div>
              ® Anthem is a registered trademark. ® The Blue Cross name and symbol are registered marks of the Blue Cross Association ©
              2017 Anthem Blue Cross. Serving California.&nbsp;Independent licensees of the Blue Cross and Blue Shield Association.
            </div>
          </div>
          <div>&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>