
.pfSelect button:active {
    background: #fff !important;
    color: #666666 !important;
    border: 1px solid #0079C2;
}

.pfSelect button, .pfSelect button:hover, .pfSelect button:focus {
    padding: 0px;
    height: auto;
    font-size: 16px;
    display: block;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 0 0;
    width: 100%;
    font-weight: 400;
    text-shadow: 0 0 transparent;
}

.pfSelect button, .pfSelect button:hover {
    background: #fff;
    border: 1px solid #666;
    color: #666;
}

.pfSelect button:focus, input[type="text"]:focus {
    border: 1px solid #0079C2;
    background: #fff;
    outline: none;
}

.pfSelect {
    position: relative;
    min-width: 250px;
}

.psButton span {
    display: inline-block;
    top: 3px;
}

.psButton span.psActiveOption {
    width: calc(100% - 45px);
    text-align: left;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: capitalize;
}

.psArrow {
    border-left: 1px solid #666;
    display: inline-block;
    color: #0079C2;
    width: 20px;
    text-align: center;
    padding: 4px 9.6px;
}

.psArrow::before {
    font-size: 24px;
}

.pfSelect button:focus .psArrow {
    border-left: 1px solid #0079C2;
}

.psDropdown {
    width: 99%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 2px;
    padding: 0px;
    max-height: 210px;
    position: absolute;
    -webkit-transition: max-height .25s ease-out;
    -o-transition: max-height .25s ease-out;
    transition: max-height .25s ease-out;
    background: #fff;
    text-transform: capitalize;
    list-style: none;
    padding-top: 0px;
    overflow:hidden;
    overflow-y: auto;
    border: 1px solid #dcdcdc;
    border-top: 0px;
    z-index: 9999;
}

.psDropdown input {
    position: absolute;
    left: -9999px;
}

.psLabel {
    display: block;
    font-size: 16px;
    padding: 8px 16px;
    margin: 0px;
    font-weight: 400;
}

.psLabel:hover, .psOption.focus+.psLabel {
    background: #005b99;
    color: #fff;
}

.psLabelDisable, .psLabelDisable:hover {
    display: block;
    font-size: 16px;
    padding: 8px 16px;
    margin: 0px;
    font-weight: 400;
    background: #D3D3D3;
    color: #666666;
    opacity: 0.5;
}

.psDropdownBackdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9998;
}
